<%= form_for [ @post, @post.comments.build ], remote: true do |f| %>
<% if post.comments.build.errors.any? %>
<div class="alert alert-danger">
  <h4>There are <%= pluralize(post.comments.errors.count, "error") %>.</h4>
  <ul>
    <%= post.comments.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= form_group_tag(post.comments.build.errors[:body]) do %>
<%= f.label :body %>
<%= f.text_area :body, rows: 1, class: 'form-control', placeholder: "Enter comment body" %>
<% end %>
<div class="form-group">
  <%= f.submit "Save", class: 'btn btn-success' %>
</div>
<% end %>
